# dabao-pcf
# Get the UAA_API_TOKEN from https://network.pivotal.io/users/dashboard/edit-profile
DRYRUN=False
DOWNLOAD_DESTINATION=minio
UAA_API_TOKEN=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=+LY5ymj3pRDqvbeaIE
MINIO_HOST=minio:9000

PIVNET_BUCKET_NAME=pivnet-products
DOCKER_BUCKET_NAME=docker-images

# https://www.miniwebtool.com/django-secret-key-generator/
DJANGO_SECRET_KEY=
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

DOCKERHUB_USERNAME=
DOCKERHUB_PASSWORD=