{% extends "base.html" %}
{% load static %}
{% block title %}Dashboard - Dabao CMS{% endblock %}

{% block content %}    
    <h2>Docker Images <small><a href="/dockerimage/add/"><span class="oi oi-plus"></span></a></small></h2>
    {% if docker_image_list %}
    <ul>
        {% for object in docker_image_list %}
            <li><a href="/dockerimage/{{object.pk}}">{{object}}</a> <a href="/dockerimage/{{object.pk}}/delete/"><span class="oi oi-trash" style="color:#CC0000"></span></a></li>
        {% endfor %}
    </ul>
    {% else %}
    No Docker images just yet. <a href="/dockerimage/add/">Add</a> one for download?
    {% endif %}
    <br/>
    <h2>Pivotal Products <small><a href="/pivotalproduct/add/"><span class="oi oi-plus"></span></a></small></h2>
    {% if pivotal_product_list %}
    <ul>
        {% for object in pivotal_product_list %}
            <li><a href="/pivotalproduct/{{object.pk}}">{{object}}</a> <a href="/pivotalproduct/{{object.pk}}/delete/"><span class="oi oi-trash" style="color:#CC0000"></span></a></li>
        {% endfor %}
    </ul>
    {% else %}
    No Pivotal Network Downloads just yet. <a href="/pivotalproduct/add/">Add</a> one for download?
    {% endif %}
    <p class="font-italic mt-4 small"><strong>Note:</strong> This is just a list of things I'm supposed to dabao to <a href="/minio/">object storage</a>, I don't really track what has been downloaded or where it is along the pipeline.</p>

{% endblock %}